@charset "UTF-8";

section{
    width: 1280px;
    margin: 0 auto;
}

.title {
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    margin: 30px 0;
}

.info{
    padding-bottom: 30px;
}
.info_txt{
    display: block;
    position: relative;
    padding-left: 15px;
}
.info_txt b{
    font-weight: 400;
    color: #515151;
}

.info_txt b::before{
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: #666;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 10px;
}
.tg_box{
    
}
.tg  {
    border-collapse:collapse;
    border-spacing:0;
  
}
.tg colgroup{
    border-top: 2px solid #747474;
    text-align: center;
}
.tg td{
    border-right:1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;}
.tg th{
    border-right:1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;}
.tg_box .tg th{
    border-right: none;
}
.tg_box .tg .tg-ve35{
    border-right: none;
}
.tg-fzdr{
    border-right:1px solid #c0c0c0;
}
    
/* .tg .tg-wman{
    border-color:#c0c0c0;
    text-align:center;
    vertical-align:middle}
.tg .tg-ve35{
    border-color:#c0c0c0;
    text-align:left;
    vertical-align:middle}
.tg .tg-fzdr{
    border-color:#c0c0c0;
    text-align:center;
    vertical-align:top}
.tg .tg-wo29{
    border-color:#c0c0c0;
    text-align:left;
    vertical-align:top} */


@media (max-width:850px)  {
    #wrap { width: 100%;}
}
    